#heading
{
    font-size: 30px;
    width: 100%;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
#instructions
{
    font-size: 18px;
    width: 100%;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
#label
{
    font-size: 18px;
    width: 100%;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}